* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  cursor: pointer;
}
#navbar {
  padding-right: 50px;
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
#navbar-brand {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  color: #fff;
}
.s {
  font-size: 2em;
  color: rgb(13, 134, 214) !important ;
}
#nav-links {
  color: rgb(13, 134, 214);
}
#nav-links:hover {
    transform: scaleY(1.1);
  text-decoration: underline 1px rgb(13, 134, 214);
}
#welcome-box {
  height: 60vh;
  padding: 140px;
}
.my-name {
  font-size: 2.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
.who-i-am {
  color: rgb(10, 10, 10);
  font-size: 1.5em;
  font-family: cursive;
  font-weight: 600;
}
img {
  height: 350px !important;
  width: 300px;
}
.projects {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: underline;
}
#btn-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(7, 7, 7);
    border: none;
}
#btn-info:hover{
    opacity: 0.7;
}
div{
    border: none !important;
}
footer{
    padding-top: 50px;
    word-spacing: 10px;
    height: 30vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
i{
    padding-top: 20px;
font-size: 1.3em;
}
i:hover{
    color: aqua !important;
    transform: scale(1.1);
}
